.body_wrapper {
    text-align: center;
    background-color: #384259;
    padding: 10px;
    height: 862px;

    display: grid;
    grid-template-rows: 100%;
    grid-auto-columns: 2fr 10fr;
    grid-template-areas:
    "l r";
}

.rightbar {
    grid-area: r;
}

.leftbar {
    grid-area: l;
}