.profile {
    text-align: center;
    border: solid 5px black;
    background-color: #063e67;
    padding: 10px;
    margin: 10px;
}


.profile img{
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

.info{
    border: solid black 5px;
    background-color: #106658;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}