.app_wrapper {
    display: grid;
    background-color: #384259;
    height: 100%;

    justify-items: stretch;
    align-content: space-between;
    grid-auto-flow: column;
    grid-auto-columns: 2fr 10fr;
    grid-auto-rows: 50px 2fr 50px;
    grid-template-areas:
    "h h"
    "l r"
    "f f"
}




