.dialogs{
    background-color: #7AC7C4;
    padding: 10px;
    border-radius: 40px;
    margin: 0  20px 0 0 ;
    position: relative;

    display: inline-block;
    box-shadow: 0.4em 0.4em 10px rgba(19, 17, 17, 0.5);

    grid-area: d;
}